*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

body {
    color: #333;
    line-height: 24px;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.ancho {
    max-width: 1200px;
    margin: auto;
}

.barra-r{
    background-color: #ff3281;
    height: 10px;
}

.Top {
    margin-left: auto;
    margin-right: auto;
    padding-left: 200px;
    padding-right: 200px;
    background-color: #fff9f1;
    padding-bottom: 20px;
}

.header-top {
    background: #fff9f1;
    padding: 10px 20px;
}

.logo,
.social {
    display: inline-block;
    vertical-align: middle;
}

.logo {
    text-align: left;
    width: 74%; 
}

.social {
    width: 25%;  
    text-align: right;
}

nav {
    border: 2px solid black;
    text-align: center;
    justify-content: space-between;
    padding: 10px 0;
    margin-bottom: 20px;
}

nav li {
    display: inline-block; 
    margin: 0 90px;
}
nav a {
    font-weight: bold;
    padding: 10px 0;
}

.promocion {
    background-image: url('imagenes/fondopiedras.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 160px 20px;
    text-align: center;
}
.promocion h1 {
    font-size: 52px;
    margin-top: 0;
    margin-bottom: 30px;
}

.promocion p {
    width: 40%;
    justify-content: center;
    margin: auto;
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 30px;
    line-height: 40px;
}

.p-content button {
    display: inline-block;
    border-radius: 5px;
    font-weight: bold;
    justify-content: center;
    cursor: pointer;
}

.btn-rosa {
    background-color: #ff3281;
    color: white;
    border: 2px solid #ff3281;
    width: 220px;
    height: 60px;
    margin-right: 10px;
    font-size: 14px;
    margin-right: 50px;
}
.btn-transparente {
    background-color: transparent;
    color: white;
    border: 2px solid #ff3281;
    width: 140px;
    height: 60px;
    font-size: 14px;
}

.productos{
    background-color: white;
    line-height: 40px;
}

.productos p{
    font-size: 15px;
}

.col-img img{
    margin-left: 100px;
}

.trabajo {
    background-color: #fff9f1;
}

.trabajo h2 {
    text-align: center;
    font-size: 36px;
    padding-top: 20px;
    margin-bottom: 20px;
}

.trabajo img{
    width: 100%;
}

.trabajo h3 {
    color: black;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bolder;
}

.trabajo p{
    margin-bottom: 30px;
    line-height: 28px;
}

.t-col{
    display: inline-block;
    width: 48%;
    vertical-align: top;
    font-size: 16px;
}

.t-img {
    display: inline-block;
    width: 48%;
    vertical-align: top;
    margin-right: 20px;
}

.t-img img{
    border-radius: 30px;
}

.contacto h2{
    font-size: 32px;
    line-height: 40px;
}

.contacto p{
    margin-bottom: 10px;
}

.Formulario{
    margin-top: 20px;
    border: 4px solid #ff3281;
    padding: 15px;
    width: 500px;
}

.col-video h2{
    margin-bottom: 40px;
}

.productos,
.trabajo,
.contacto {
    padding-bottom: 20px;
    font-size: 0; 
}

.col-texto,
.col-img,
.col-form,
.col-video {
    display: inline-block;
    width: 48%;
    margin: 1%;
    vertical-align: top;
    font-size: 16px;
}

.col-video iframe {
    width: 100%;
    height: 315px;
    border: none;
}

.col-form label {
    display: block;
    font-size: 0.9em;
    margin-bottom: 5px;
}

.col-form input[type="email"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 15px;
}
.btn-negro {
    background-color: #333;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 180px;
}

.datos {
    background-color: #fff9f1;
    padding: 20px 0;
    text-align: center;
}

.datos-alumno{
    text-align: right;
}

.logo-footer{
    text-align: left;
}

.logo-footer,
.datos-alumno {
    display: inline-block;
    vertical-align: middle;
    width: 48%;
    color: #ff3281;
}

.rosa{
    color: #ff3281;
}